extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Store your books, music and videos
    p.lead Multi-Database is service for collecting your favourite entertainment in one place
    a.btn.btn-info-outline.btn-lg(href='/register') Get Started for FREE


